<!doctype html>
<html lang="en">
  <head>

    <!-- Front End Developers: Mateusz Bieda -->
    <!-- Back End Developers: Brian Kim-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <title>Dash</title>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/snowman_2603-fe0f.png">

  </head>


  <body>
    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->

    
    <div id="particles-js">
    </div>

    <div id = "dashBoard">
        <h2>Dash</h2>
    </div>
    <div id = "about">
        <h2><button class = "aboutButton">ABOUT</button></h2>
    </div>
    <div id = "github">
        <h2><button class = "ghButton">GITHUB</button></h2>
    </div>
    
    
    <div id = "inputWrapper">
      <h1 id = "headerInput">welcome</h1>
      <form>
        <div class="form-group">
          <input id = "input" type= "text" id = "mainInput" placeholder="  type /help for commands" >
          <button type="submit" class="btn btn-primary">Submit</button>

        </div>
      </form>
    </div>
    <!--<div>-->
      <!-- Button trigger modal -->
     <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
      <!-- Todo List--> 
      <!--</button>-->
    <!--</div> -->
    <div id = "sleighSlide">
    <img src = "https://github.com/MateuszB-hub/Hacklympics-Winter-2020/blob/main/hacklympics/images/sleighSlide.gif?raw=true">
    </div>



    <!--Need these to be at the bottom, qQuery coming in first-->
    <!--For Bootstrap if its going to be useds-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <!--- Importing particle.js / app.js -->
    <script src="../static/particles.js"></script>
    <script src="../static/app.js"></script>

  </body>
</html>
