@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

      body
      {
          font-family: 'Open Sans';
          background-image: url("https://github.com/cerasamson/Hacklympics-Winter-2020/blob/main/hacklympics/images/background.png?raw=true");
          background-repeat: no-repeat;
          background-position:center;
          background-size: cover;
      }
      
      input
      {
        
        padding:0;
        border:3px white solid;
        background:none;
        border-radius:  2em;
        width:30%
      }

      button
      {
        color:aliceblue;
        display: inline-block;
        padding:0;
        border:none;
        background:none;
      }

      #dashBoard
      {          
        font-weight: 600;
        color:aliceblue;
        position: fixed;
        top: 10px;
        left: 20px;
        width: 600px;
      }

      #aboutButton
      {
          background-color: Transparent;
          background-repeat:no-repeat;
          border: none;
          position:fixed;
          top:10px;
          right:0px;
          width:280px;
      }
      
      #gitHubButton
      {
          background-color: Transparent;
          background-repeat:no-repeat;
          border: none;
          position:fixed;
          top:10px;
          right:0px;
          width:150px;
      }

      #inputWrapper
      {
          padding-top:23%;
          right:0px;
          padding-left:40%;
          bottom:0px;
      }
      
      marquee
      {
          padding-top: 15%;
      }